{% include "GTracker/_header.html"%}
<div id="flash">

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <span>店铺：</span>
            <select name="" id="shop-select">
                <option></option>
                {% for s in shops %}
                <option shop_id="{{s.1}}">{{s.0}}</option>
                {% endfor %}
            </select>
            <a id='enter-shop-button' href=# target="_blank">进入店铺</a>
            <span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
            <span>排序：</span>
            <select name="" id="sort-select">
                <option></option>
                {% for s in sort_methods %}
                <option param_str="{{s.0}}" {% if s.0 == "SumSales3" %} selected="selected" {% endif %}>{{s.1}}</option>
                {% endfor %}
            </select>

        </div>
    </div>
</div>

<div id="chart">
    <svg>
    </svg>
</div>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'GTracker/css/reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'GTracker/css/common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'GTracker/css/QCLogger.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'GTracker/css/style.css' %}">

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<!-- Optional JavaScript -->
<script src="{% static 'GTracker/js/common.js' %}" type="text/javascript"></script>
<script src="{% static 'GTracker/js/main.js' %}" type="text/javascript"></script>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="{% static 'GTracker/js/grid-d3.js' %}" type="text/javascript"></script>

{% include "GTracker/_footer.html"%}
